<!DOCTYPE html>
<html>
<head>
    <title>Kioku</title>
</head>
<body>
    <h1>Kioku</h1>
    <a href="/review">Start Review</a>
    <h2>Subjects</h2>
    <ul>
        {% for subject in subjects %}
            <li><a href="/subject/{{ subject.id }}">{{ subject.name }}</a></li>
        {% endfor %}
    </ul> 

    <h2>Add Subject</h2>
    <form method="POST" action="/add-subject">
        <input type = "text" name = "name" placeholder="Subject name">
        <button type="submit">Add</button>
    </form>


</body>
</html>